extends index

block append header
	script.
		$(function(){
			$(".dropdown-menu li a").click(function(){				
				var value =  $(this).data('value');		
				$(this).parents(".input-group-btn").find('.btn').html($(this).text() + '<span class="caret"></span>');
			});
		});

		function executeCreateSensor() {
			var host = document.getElementById("serverHost").value;			
			var port = document.getElementById("serverPort").value;
			var device = document.getElementById("deviceId").value;			
			var body = { 	deviceId: device,
							format: $("#metadata-type > .dropdown-menu > li > a:contains('" + $("#metadata-type > .dropdown-toggle").text() + "')").data('value'),
							metadata:  document.getElementById("metadata").value};
			var url = 'http://' + host + ':' + port + '/devices/create';										
			var response = executeHTTP('post', url, JSON.stringify(body), {"Content-Type": "application/json"});		
			displayHttpResponse(response, null, {tabs: {disable: ['chart']}});
			return false;
		}

block content	
	h1.page-header Create Device
	br
	form
		table(class="inputTable")			
			tr
				td
					b
						|device id
				td
					input#deviceId(type='text' style="width:700px")
			tr
				td
					b
						| metadata
				td
					br
					div
						div(style="float:left;margin-right:10px;position: relative;top: 50%;transform: translateY(30%);")
							b
								|format
						#metadata-type.input-group-btn(align='left', stlye='display:inline-block;')
							button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								| N-Triples
								span.caret
							ul.dropdown-menu.pull-left
								li
									a(href='#!', data-value='application/ld+json') JSON-LD
								li
									a(href='#!', data-value='application/rdf+xml') RDF/XML
								li
									a(href='#!', data-value='text/turtle') TURTLE
								li
									a(href='#!', data-value='application/n-triples') N-Triples
								li
									a(href='#!', data-value='application/spo+json') SPO Triples					
					textarea#metadata(rows='15' style="width:700px")
			tr
				td
				td
					br
					button#btnCreateSensor(type='button' onclick='executeCreateSensor()' style='width:700px;height:50px') execute
		br		
		#triples-placeholder(style="text-align:left")