extends index

block append header
	link(rel='stylesheet', href='css/jquery.datetimepicker.css')
	script(src="/js/jquery.datetimepicker.js")		
	script(src="/js/moment.min.js")		
	script.
		$(window).bind('load', function(){
			clearDateTimePicker();
		});

		function clearDateTimePicker() {
			$(document).find('div.xdsoft_datetimepicker > div.xdsoft_timepicker > div.xdsoft_time_box > div.xdsoft_time_variant > div.xdsoft_current').removeClass('xdsoft_current');
			$(document).find('div.xdsoft_datetimepicker > div.xdsoft_datepicker > div.xdsoft_calendar td.xdsoft_current').removeClass('xdsoft_current');
			// needed for some reasons
			setTimeout(function() {
				$(document).find('div.xdsoft_datetimepicker > div.xdsoft_timepicker > div.xdsoft_time_box > div.xdsoft_time_variant > div.xdsoft_current').removeClass('xdsoft_current');
				$(document).find('div.xdsoft_datetimepicker > div.xdsoft_datepicker > div.xdsoft_calendar td.xdsoft_current').removeClass('xdsoft_current');
			}, 1);			
		}

		$(document).ready(function() {					
			getDropdownDataDevice(
				document.getElementById("serverHost").value,
				document.getElementById("serverPort").value,
				function(err, data) {
					$("#deviceId").select2({
				        data: data					        	
				    });
				})
			$('#deviceId').on("change", function (e) 
			{ 
				getDropdownDataSensorsForDevice(
					document.getElementById("serverHost").value,
					document.getElementById("serverPort").value,
					e.added.id,
					function(err, data) {
						$("#sensorId").select2({
					        data: data					        	
					    });
					})
			});
		});



		function executeInsertValues() {			
			var host = document.getElementById("serverHost").value;			
			var port = document.getElementById("serverPort").value;
			var device = document.getElementById("deviceId").value;			
			var sensor = document.getElementById("sensorId").value;
			var timestamp;						
			if ($('#date').val()) {
				timestamp = moment($('#date').val(), "DD-MM-YYYY HH:mm:ss").unix();
			}
			var body = [{
				value : document.getElementById("value").value,
				timestamp : timestamp
			}];
			var url = 'http://' + host + ':' + port + '/devices/' + device + '/sensors/' + sensor + '/values';
			var response = executeHTTP('put', url, JSON.stringify(body), {"Content-Type": "application/json"});						
			displayHttpResponse(response, null, {tabs: {disable: ['rdf'], initial: 'table'}});
			return false;			
		}		

block content	
	h1.page-header Insert Values
	br
	form
		table(class="inputTable")			
			tr
				td
					b
						|device
				td					
					input#deviceId.select2(style="width:700px")
			tr
				td
					b 
						|sensor
				td
					input#sensorId(type='text' style="width:700px")
			tr
				td
					b
						|value
				td
					input#value(type='text' style="width:700px")						
			tr
				td
					b
						|date
				td
					br
					input#date(type='text')
					script(type='text/javascript').
						$(document).ready(function(){
							jQuery('#date').datetimepicker({
											format:'d.m.Y H:i:s',
											inline: true,
											inputVisibleWhenInline: true,
											lang:'en',
											onSelectTime: function(ct, $input) {
												if ($input.val()) {
													$input.val($input.val().slice(0, -2) + "00");
												}												
											},
											onSelectDate: function(ct, $input) {
												if ($input.val()) {
													$input.val($input.val().slice(0, -2) + "00");
												}												
											}
										});
						});										
			tr
				td
				td
					br
					button#btnInsertValues(type='button' onclick='executeInsertValues()' style='width:700px;height:50px') execute
	br
	#triples-placeholder(style="text-align:left")

