doctype html
html
	head
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/docs.min.css')
		link(rel='stylesheet', href='css/dashboard.css')		
		link(rel='stylesheet', href='css/streamup.css')
		link(rel='stylesheet', href='css/select2.css')
		link(rel='stylesheet', href='css/select2-bootstrap.css')			
		block header
	body
		block top-nav
		block side-nav
